---
import SkillCard from "./SkillCard.astro";
import Design from "../svg/Design.astro";
import Brain from "../svg/Brain.astro";
import Data from "../svg/Data.astro"
---

<h2 class="xl:text-5xl text-2xl z-50 font-bold mb-8">
  Other <span class="xl:text-8xl text-4xl text-accent font-bold"> Skills</span>
</h2>
<div class="m-auto w-[80%] grid grid-cols-1 xl:grid-cols-2 gap-4 my-10">

  

  <section class="group relative block h-[32rem]  sm:h-96 lg:h-96 xl:col-span-1">
    <span
      class="absolute inset-0 border-[1.8px] border-dashed rounded-md border-black"
    ></span>

    <div
      class="relative flex h-full transform items-end border-[1.8px] rounded-md border-black hover:bg-accent transition-transform group-hover:-translate-x-2 duration-[700ms] group-hover:-translate-y-2"
    >
      <div
        class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8 duration-[100ms]"
      >
      
        <Data/>

        <h2 class="mt-4 text-xl font-medium sm:text-2xl">
          Seo and Data Analytics
        </h2>
      </div>

      <div
        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 duration-[800ms]"
      >
        <h3 class="mt-4 text-xl font-medium sm:text-2xl">
          SEO specialist
        </h3>

        <p class="serif mt-4 text-[0.8rem] sm:text-base">
          I am an <strong>SEO specialist</strong> with experience in key industry tools such as Ahrefs, SEMrush, Screaming Frog, Google Search Console, and Sistrix, which allows me to implement effective strategies to enhance visibility and search engine performance. Furthermore, my <strong>analytical skills</strong> have led me to conduct annual studies on buyer behavior in relation to Off-Page SEO. These insights have been crucial in adapting SEO strategies to meet evolving market trends and enhance website performance in search engines.
        </p>

        
      </div>
    </div>
  </section>
  <section class="group relative block h-[32rem] sm:h-80 lg:h-96 xl:col-span-1">
    <span
      class="absolute inset-0 border-[1.8px] border-dashed rounded-md border-black"
    ></span>

    <div
      class="relative flex h-full transform items-end border-[1.8px] rounded-md border-black hover:bg-accent transition-transform group-hover:-translate-x-2 duration-[700ms] group-hover:-translate-y-2"
    >
      <div
        class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8 duration-[100ms]"
      >
        <Design />

        <h2 class="mt-4 text-xl font-medium sm:text-2xl">
          Photography and Design
        </h2>
      </div>

      <div
        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 duration-[800ms]"
      >
        <h3 class="mt-4 text-xl font-medium sm:text-2xl">
          Owner of a Photography Agency
        </h3>

        <p class="serif  mt-4 text-[0.8rem] sm:text-base">
          From 2001 to 2020, my professional career was defined by my passion for <a href="https://davidmasbaga.com" class="font-bold underline cursor-pointer" target="_blank">photography</a> and <a href="https://twolittledraws.com" class="font-bold underline cursor-pointer" target="_blank">design</a>, fields in which I developed a robust and enriching career. This experience has endowed me with a creative approach and an aesthetic sensibility that are apparent in my current work as a web developer, allowing me to bring a unique and appealing vision to every digital project I undertake.
        </p>
        
       
      </div>
    </div>
  </section>
  <section class="group relative block h-[40rem] sm:h-80 lg:h-96 xl:col-span-2">
    <span
      class="absolute inset-0 border-[1.8px] border-dashed rounded-md border-black"
    ></span>

    <div
      class="relative flex h-full transform items-end border-[1.8px] rounded-md border-black hover:bg-accent transition-transform group-hover:-translate-x-2 duration-[700ms] group-hover:-translate-y-2"
    >
      <div
        class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8 duration-[100ms]"
      >
        <Brain />

        <h2 class="mt-4 text-xl font-medium sm:text-2xl">Soft Skills</h2>
      </div>

      <div
        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8 duration-[800ms]"
      >
        <h3 class="mt-4 text-lg font-medium sm:text-2xl">
          Creativity, adaptability and lifelong learning
        </h3>

        <p class="serif  mt-4 text-[0.7rem] sm:text-base">
          In addition to my technical skills, I possess a solid range of interpersonal and personal competencies that strengthen my profile as a web developer. My <strong>leadership and team management</strong> abilities have been demonstrated in multiple projects, where I have effectively handled conflicts and motivated colleagues towards common goals. <strong>Empathy and teamwork</strong> are fundamental in my approach, adapting to different styles and contributing to a positive work environment. I excel in <strong>time management and organization</strong>, prioritizing tasks efficiently and adapting to unexpected changes. My <strong>creativity and innovation</strong> are reflected in my contribution of novel ideas and in the creative approach to challenges. Finally, <strong>adaptability and continuous learning</strong> are key in my professional development, keeping me always updated and open to new knowledge in the dynamic field of web development.
        </p>

        
      </div>
    </div>
  </section>
</div>
