---
import Instagram from "../svg/Instagram.astro";
import Linkedin from "../svg/Linkedin.astro";
import Twitter from "../svg/Twitter.astro";

import GitHub from "../svg/GitHub.astro";
---

<div class="flex flex-row justify-center items-center gap-3 mb-32 sm:-mt-24 mt-10">
  
 <Linkedin/><Instagram/><Twitter/><GitHub/>
 
</div>
