---
import TechIcons from "./SvgSection.astro";

---



<div class="relative text-container mt-10 ">
  <h2 class="xl:text-5xl text-2xl w-2/4 z-50 font-bold m-0">Technologies, frameworks &</h2>
  <h2 class="xl:text-8xl text-5xl text-accent font-bold">Dev Languages</h2>
</div>
<div class="my-10 xl:mr-20">
  <p class="xl:text-xl serif">
    Over the course of my career, I've independently developed projects
    utilizing a diverse range of technologies and frameworks. My <strong
      class="font-bold"
      >preference is to manage the full stack with JavaScript</strong
    >, a language that has been central to my learning journey and one in which
    I'm deeply comfortable. During my Master's program, our cohort undertook a
    collaborative project that simulated a social network platform, <strong
      class="font-bold"
    >
      incorporating an Express backend alongside a React frontend</strong
    >. In the past year, I have further honed my skills in React through <strong
      class="font-bold">practical experience with NextJS</strong
    >.
  </p>

  <p class="xl:text-xl mt-3 serif">
    Additionally, I have embraced <strong class="font-bold"
      >Astro for building static web pages and TailwindCSS for its robust CSS
      framework capabilities</strong
    >. My database work predominantly revolves around MongoDB; however, I'm also
    versed in SQL syntax. My <strong class="font-bold"
      >expertise in NodeJS has advanced significantly, particularly in API
      consumption</strong
    >. Looking ahead, my immediate goals are to elevate my proficiency in
    TypeScript and to delve into NestJS and PostgreSQL.
  </p>
</div>

<TechIcons/>

